	<div class="account-form">
		<div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
			  <%= image_tag "logo-white-2.png" %>

		</div>
		<div class="account-form-inner">
			<div class="account-container">
				<div class="heading-bx left">

					<h2 class="title-head">Login to your <span>Account</span></h2>
					<p>Don't have an account? <%= link_to "Create one here", register_path %></p>
				</div>	
					<%= form_for(:session,url: login_path) do |f| %>
					<div class="row placeani">
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group">
									<input placeholder="User Name" name="email" type="text" required="" class="form-control">
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group"> 
									<input placeholder="Your Password" name="password_digest" type="password" class="form-control" required="">
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group form-forget">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
									<label class="custom-control-label" for="customControlAutosizing">Remember me</label>
								</div>
								<a href="" class="ml-auto">Forgot Password?</a>
							</div>
						</div>
						<div class="col-lg-12 m-b30">
							<button class="btn btn-warning button-md" name="submit" type="submit" value="Submit" >Login</button>
						</div>
					
					</div>
				            <% end %>

			</div>
		</div>
