<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
   <div class="profile-bx text-center">
      <div class="user-profile-thumb">
         <%= image_tag "profile/pic1.jpg" %>
      </div>
      <div class="profile-info">
         <h4><%= current_user.fullname%></h4>
         <span><%= current_user.email%></span>
      </div>
      <div class="profile-social">
         <ul class="list-inline m-a0">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
         </ul>
      </div>
      <div class="profile-tabnav">
         <ul class="nav nav-tabs">
            <li class="nav-item">
               <%= link_to  current_user,class: "nav-link active" do %>
               <i class="ti-book"></i> Courses
               <% end %>
            </li>
            <li class="nav-item">
               <%= link_to edit_user_path(current_user), class: "nav-link" do %>
               <i class="ti-pencil-alt" aria-hidden="true"></i> Edit Profile
               <% end %>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-toggle="tab" href="#change-password"><i class="ti-lock"></i>Change Password</a>
            </li>
         </ul>
      </div>
   </div>
</div>