<div class="page-content bg-white">
   <!-- inner page banner -->
   <div class="page-banner ovbl-dark">
      <div class="container">
         <div class="page-banner-entry">
            <h1 class="text-white">Edit Profile</h1>
         </div>
      </div>
   </div>
   <!-- Breadcrumb row -->
   <div class="breadcrumb-row">
      <div class="container">
         <ul class="list-inline">
            <li><i class="fa fa-home"></i><a href="/">  Edit</a></li>
            <i class="fa fa-angle-right"></i>
            <li>Profile</li>
         </ul>
      </div>
   </div>
   
   <!-- Breadcrumb row END -->
   <!-- inner page banner END -->
   <div class="content-block">
      <!-- About Us -->
      <div class="section-area section-sp1">
         <div class="container">
            <div class="row">
               <%= render 'users/right'%>
               <div class="col-lg-9 col-md-8 col-sm-12">
                  <div class="profile-head">
                     <h3>Edit Profile</h3>
                  </div>
                  <div >
                     <div class="tab-pane" id="edit-profile">
                        <%= form_with model: @user, scope: "post", :html => { class: "edit-profile" }, local: true  do |form| %>
                        <div class="">
                           <div class="form-group row">
                              <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Full Name</label>
                              <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                 <input class="form-control" type="text" readonly name="user[email]" value="<%= @user.email %>">
                              </div>
                           </div>
                           <div class="form-group row">
                              <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Full Name</label>
                              <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                 <input class="form-control" type="text" name="user[fullname]" value="<%= @user.fullname %>">
                              </div>
                           </div>
                           <div class="form-group row">
                              <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Birthday</label>
                              <div class="col-12 col-sm-9 col-md-9 col-lg-7 d-flex">
                                 <input class="form-control" type="date" name="user[birthday]" value="<%=  @user.birthday.to_s.split(" ").first %>">
                                 <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Role</label>
                                 <% if current_user.role.eql?('admin') %>
                                 <select name="user[role]" class="form-control" id="exampleFormControlSelect1">
                                    <option value="admin">ADMIN</option>
                                    <option value="user">USER</option>
                                 </select>
                                 <% else %>
                                 <input class="form-control" type="text" readonly name="user[role]" value="<%= @user.role %>">
                                 <% end %>
                              </div>
                           </div>
                           <div class="form-group row">
                              <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Address</label>
                              <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                 <input class="form-control" type="text" name="user[address]" value="<%= @user.address %>">
                                 <span class="help">If you want your invoices addressed to a company. Leave blank to use your full name.</span>
                              </div>
                           </div>
                           <!--
                              <%# <div class="form-group row">
                                 <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">avatar_url</label>
                                 <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                    <input class="form-control" type="text" name="user[avatar_url]" value="<%= @user.avatar_url %>">
                                </div>
                              </div>
                              -->
                        </div>
                        <div class="">
                           <div class="">
                              <div class="row">
                                 <div class="col-12 col-sm-3 col-md-3 col-lg-2">
                                 </div>
                                 <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                    <button type="reset" class="btn btn-dark">Cancel</button>
                                    <%= form.submit "Save changes", class: "btn btn-warning" %>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <% end %>
                     </div>
                  </div>
                  <div class="profile-head">
                     <h3>Edit Password</h3>
                  </div>
                  <div class="tab-pane" id="edit-profile">
                     <%= form_with model: @user, scope: "post", :html => { class: "edit-profile" }, local: true  do |form| %>
                     <div class="">
                        <div class="form-group row">
                           <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">New Password</label>
                           <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                              <input class="form-control" type="text" name="user[password]"  >
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Pasword Confirm</label>
                           <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                              <input class="form-control" type="text" name="user[avatar_url]" >
                           </div>
                        </div>
                        <div class="">
                           <div class="">
                              <div class="row">
                                 <div class="col-12 col-sm-3 col-md-3 col-lg-2">
                                 </div>
                                 <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                    <button type="reset" class="btn btn-dark">Cancel</button>
                                    <%= form.submit "Save changes", class: "btn btn-warning" %>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- contact area END -->
</div>