<!-- header END ==== -->
<!-- Content -->
<div class="page-content bg-white">
<!-- inner page banner -->
<div class="page-banner ovbl-dark" >
   <div class="container">
      <div class="page-banner-entry">
         <h1 class="text-white">List Member</h1>
      </div>
   </div>
</div>
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
   <div class="container">
      <ul class="list-inline">
         <li><i class="fa fa-home"></i><a href="/">  Home</a></li>
         <i class="fa fa-angle-right"></i>
         <li>List Member</li>
      </ul>
   </div>
</div>
<!-- Breadcrumb row END -->
<!-- inner page banner END -->
<div class="content-block">
   <!-- About Us -->
   <div class="section-area section-sp1">
      <div class="container">
         <div class="row">
            <%= render 'layouts/nav'%>
            <div class="col-lg-9 col-md-8 col-sm-12">
               <div class="tab-content">
                  <div class="tab-pane active" id="courses">
                     <div class="feature-filters style1 ml-auto">
                        <ul class="filters" data-toggle="buttons">
                           <li data-filter="" class="btn active">
                              <input type="radio">
                              <a href="?active"><span>Active</span></a> 
                           </li>
                           <li data-filter="publish" class="btn">
                              <input type="radio">
                              <a href="?in-active"><span>In-Active</span></a> 
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="row">
                     <% @users.each  do | user | %>
                     <div class="col-md-6 col-lg-4 col-sm-6 m-b30" >
                        <div class="profile-bx text-center">
                           <div class="user-profile-thumb">
                              <%= image_tag "profile/pic1.jpg" %>
                           </div>
                           <div class="profile-info">
                              <h4><%= user.fullname %></h4>
                              <span><%= user.email %></span>
                           </div>
                           <div class="profile-social">
                              <ul class="list-inline m-a0">
                                 <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                 <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                 <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                 <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                              </ul>
                           </div>
                           <div class="profile-tabnav">
                              <%= link_to edit_user_path(user.id), class: "btn btn-info" do %>
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp; Detail
                              <% end %>
                              <%= link_to user_path(user), class: "btn #{user.deleted_at.nil? ? 'btn-dark' : 'btn-warning'}", method: :delete, data: {confirm: "ARE YOU SURE #{user.deleted_at.nil? ? 'BLOCK' : 'UNLOCK'}: #{  user.fullname} ?"} do %>
                              <i class="fa fa-lock" aria-hidden="true"></i> &nbsp; Block
                              <% end %>

                           </div>
                        </div>
                     </div>
                     <% end %>
                  </div>
               </div>
               <div class="col-lg-12 m-b20">
                  <div class="pagination-bx rounded-sm gray clearfix">
                     <ul class="pagination">
                        <div class="paginate paginate-default paginate-link">
                           <% if @users.present? %>
                           <%= paginate @users %>
                           <% end %>
                        </div>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- contact area END -->
</div>