<div class="page-wraper">
   <div class="account-form">
      <div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
      </div>
      <div class="account-form-inner">
         <div class="account-container">
            <div class="heading-bx left">
               <h2 class="title-head">Sign Up <span>Now</span></h2>
               <p>Login Your Account <%= link_to "Click here", login_path %></p>
            </div>
            <%= form_with(url: "/register",class: "contact-bx" ,method: "post") do %>
            <div class="row placeani">
               <div class="col-lg-12">
                  <div class="form-group">
                     <div class="input-group">
                        <input placeholder="Fullname" name="user[fullname]" type="text" required="" class="form-control">
                     </div>
                  </div>
               </div>
               <div class="col-lg-12">
                  <div class="form-group">
                     <div class="input-group">
                        <input name="user[email]" placeholder="Email Address" type="email" required="" class="form-control">
                     </div>
                  </div>
               </div>
               <input name="user[role]" type="hidden" value="user">
               <div class="col-lg-12">
                  <div class="form-group">
                     <div class="input-group"> 
                        <input placeholder="Password" name="user[password]" type="password" class="form-control" required="">
                     </div>
                  </div>
               </div>
               <div class="col-lg-12 m-b30">
                  <button name="submit" type="submit" value="Submit" class="btn btn-warning button-md">Sign Up</button>
               </div>
            </div>
            <% end %>
         </div>
      </div>
   </div>
</div>