<div class="page-content bg-white">
   <!-- inner page banner -->
   <div class="page-banner ovbl-dark">
      <div class="container">
         <div class="page-banner-entry">
            <h1 class="text-white">Infomation</h1>
         </div>
      </div>
   </div>
   <!-- Breadcrumb row -->
   <div class="breadcrumb-row">
      <div class="container">
         <ul class="list-inline">
            <li><i class="fa fa-home"></i><a href="/">  Home</a></li>
            <i class="fa fa-angle-right"></i>
            <li>Profile</li>
         </ul>
      </div>
   </div>
   <!-- Breadcrumb row END -->
   <!-- inner page banner END -->
   <div class="content-block">
      <!-- About Us -->
      <div class="section-area section-sp1">
         <div class="container">
            <div class="row">
               <%= render 'users/right'%>
               <div class="col-lg-9 col-md-8 col-sm-12">
                  <div class="row">
                     <% if  @courses.count.zero? %>
                     <h1 style="margin: auto;"> No Course Yet </h1>
                     <% else %>
                     <% @courses.each  do | course | %>
                     <div class="col-md-6 col-lg-4 col-sm-6 m-b30">
                        <div class="cours-bx">
                           <% if signed_in? %>
                           <% if current_user.role.eql?('admin') %>
                           <%= link_to course_path(course), class: "remove-course", method: :delete, data: {confirm: "ARE YOU SURE DELETE COURSE: #{  course.title} ?"} do %>
                           <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                           <% end %>
                           <% end %>
                           <% end %>
                           <div class="action-box">
                              <%= image_tag course.thumb_url.url, style:"height: 153px !important" %>
                              <a href="#" class="btn">Read More</a>
                           </div>
                           <div class="info-bx text-center">
                              <h6><a class="course-title" href="/courses/<%= course.id %>"><%= course.title %></a></h6>
                              <span><%= course.category %></span>
                           </div>
                           <div class="cours-more-info">
                              <div class="review">
                                 <ul class="cours-star">
                                    <li class="active"><i class="fa fa-list-alt" aria-hidden="true"></i> Category </li>
                                 </ul>
                                 <span><%= course.category %></span>
                              </div>
                              <div class="price">
                                 <span><i class="fas fa-shopping-cart"></i> Price</span>
                                 <h6>$<%= course.price %></h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <% end %>
                     <% end %>
                     <div class="col-lg-12 m-b20">
                        <div class="pagination-bx rounded-sm gray clearfix">
                           <ul class="pagination">
                              <div class="paginate paginate-default paginate-link">
                                 <% if @courses.present? %>
                                 <%= paginate @courses %>
                                 <% end %>
                              </div>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- contact area END -->
</div>