<li class="page-item">
  <% if current_page.last? %>
    <%= link_to "Next <i class='ti-arrow-right'></i> ".html_safe, url, :rel => 'next', :remote => remote, :class => "btn disabled page-link"  %>
  <% else %>
    <%= link_to "Next <i class='ti-arrow-right'></i> ".html_safe, url, :rel => 'next', :remote => remote, :class => "page-link" %>
  <% end %>
</li>

