<li class="page-item">
  <% if current_page.first? %>
    <%= link_to "<i class='ti-arrow-left'></i> Prev".html_safe, url, :rel => 'prev', :remote => remote, :class => "btn disabled page-link"  %>
  <% else %>
    <%= link_to "<i class='ti-arrow-left'></i> Prev".html_safe, url, :rel => 'prev', :remote => remote, :class => "page-link" %>
  <% end %>
</li>
