<!-- header END ==== -->
<!-- Content -->
<div class="page-content bg-white">
   <!-- inner page banner -->
   <div class="page-banner ovbl-dark" >
      <div class="container">
         <div class="page-banner-entry">
            <h1 class="text-white">New Subject</h1>
         </div>
      </div>
   </div>
   <!-- Breadcrumb row -->
   <div class="breadcrumb-row">
      <div class="container">
         <ul class="list-inline">

            <li><i class="fa fa-home"></i><a href="/">  Home</a></li><i class="fa fa-angle-right"></i>
            <li>New Subject</li>
         </ul>
      </div>
   </div>
   <!-- Breadcrumb row END -->
   <!-- inner page banner END -->
   <div class="content-block">
      <!-- About Us -->
      <div class="section-area section-sp1">
         <div class="container">
            <div class="row">
               <%= render 'layouts/nav'%>
               <div class="col-lg-9 col-md-8 col-sm-12">
                  <%= form_with(url: "/subjects", method: "post", html: { multipart: true }) do %>
                  <div class="ajax-message"></div>
                  <div class="heading-bx left p-r15">
                     <h2 class="title-head">Share A <span>Subject</span></h2>
                     <p>Market and sell your courses with a full suite of business tools. 
                     <br>
                     Thousands of entrepreneurs trust Thinkific for exceptional student experiences</p>
                  </div>
                  <div class="row placeani">
                     <div class="col-lg-6 ">
                        <div class="col-lg-12 ">
                           <div class="form-group">
                              <div class="input-group">
                                 <input placeholder="Subject Name" required=""  name="subject[name]" type="text"  class="form-control valid-character">
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group">
                              <div class="input-group">
                  <input  placeholder="Total hours" required="" name="subject[time]" type="time"  class="form-control int-value without_ampm">

                                 <div class="input-group-append">
                                    <span class="input-group-text">Hours</span>
                                 </div>

                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group">
                              <div class="input-group">
                                 <select style="height: 52px;" name="subject[course_id]" class="form-control" >
                                    <% Course.all.each do |course|%>
                                    <option value="<%= course.id %>"><%= course.title %></option>
                                    <% end %>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-lg-6 ">

                        <div class="col-lg-12">
                           <div class="form-group">
                              <div class="">
                                 <label id='upload-lable' onclick="document.getElementById('getFile').click()" class="btn-2"> <i style="margin-right:5px" class="fas fa-cloud-upload-alt"></i> Upload Document </label>
                                 <input id="getFile" placeholder="Document" required=""  name="subjects_documents[documents][]" type="file"  multiple="" onchange="updateList()" class="inline_image"> 
                              </div>
                           </div>
                        </div>
          <div class="col-lg-12">

                           <div class="form-group">
                              <div class="input-group">
                                 &emsp;&ensp;<i class="fa fa-list" aria-hidden="true"></i>&ensp;&ensp;
                                 <p style="display: inline-block;" id="file_count">  Selected files: NaN</p>
                                 <div id="fileList"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <div class="form-group">
                           <div class="input-group">
                              <textarea placeholder="OverView" name="subject[overview]" rows="4" class="form-control"  ></textarea>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <button name="submit" type="submit" value="Submit" class="btn btn-warning button-md"> Create</button>
                     </div>
                  </div>
                  <% end %>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- contact area END -->
</div>