<!-- header END ==== -->
<!-- Content -->
<div class="page-content bg-white">
   <!-- inner page banner -->
   <div class="page-banner ovbl-dark" >
      <div class="container">
         <div class="page-banner-entry">
            <h1 class="text-white">New Courses</h1>
         </div>
      </div>
   </div>
   <!-- Breadcrumb row -->
   <div class="breadcrumb-row">
      <div class="container">
         <ul class="list-inline">
            <li><i class="fa fa-home"></i><a href="/">  Home</a></li>
            <i class="fa fa-angle-right"></i>
            <li>New Courses</li>
         </ul>
      </div>
   </div>
   <!-- Breadcrumb row END -->
   <!-- inner page banner END -->
   <div class="content-block">
      <!-- About Us -->
      <div class="section-area section-sp1">
         <div class="container">
            <div class="row">
               <%= render 'layouts/nav'%>
               <div class="col-lg-9 col-md-8 col-sm-12">
                  <%= form_with(url: "/courses", method: "post", local: true ,html: { multipart: true }) do %>
                  <div class="ajax-message"></div>
                  <div class="heading-bx left p-r15">
                     <h2 class="title-head">Share A <span>Course</span></h2>
                     <p>Market and sell your courses with a full suite of business tools. 
                        <br>
                        Thousands of entrepreneurs trust Thinkific for exceptional student experiences
                     </p>
                  </div>
                  <div class="row placeani">
                     <div class="col-lg-8">
                        <div class="col-lg-12 ">
                           <div class="form-group">
                              <div class="input-group">
                                 <input placeholder="Title" name="course[title]" type="text" required="" class="form-control valid-character">
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group">
                              <div class="input-group">
                                 <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                 </div>
                                 <input  placeholder="Price" name="course[price]" type="number" required=""  class="form-control int-value"> 
                                 <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group">
                              <div class="input-group">
                                 <select style="height: 52px;" name="course[category]"  class="form-control" >
                                    <option value="IT - Software">IT - Software</option>
                                    <option value="Photography">Photography</option>
                                    <option value="Programming">Programming</option>
                                    <option value="Technology">Technology</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <div class="upload-preview">
                                 <%= image_tag "blog/thumb-default.png", id: "image_preview", onclick: "document.getElementById('getFile').click()"  %>
                                 <input required="" id="getFile" placeholder="Thumbnail" name="course[thumb_url]" type="file"  onchange="readImage(this)" class="inline_image">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <div class="form-group">
                           <div class="input-group">
                              <textarea placeholder="Description" name="course[description]" rows="4" class="form-control"  ></textarea>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <button name="submit" type="submit" value="Submit" class="btn btn-warning button-md"> Create</button>
                     </div>
                  </div>
                  <% end %>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- contact area END -->
</div>