/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

 /*=========================
	All css
==========================*/
@import "vendors/bootstrap/css/bootstrap.min.css";
@import "vendors/fontawesome/css/font-awesome.min.css";
@import "vendors/themify/themify-icons.css";
@import "vendors/owl-carousel/owl.carousel.css";
@import "vendors/bootstrap-select/bootstrap-select.min.css";
@import "vendors/magnific-popup/magnific-popup.css";
@import "vendors/scroll/scrollbar.css";
@import "vendors/switcher/switcher.css";

/*=========================
	All css
==========================*/

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
*/

.fullname {
	color: #007bff !important;
	font-weight: bolder !important;
}

.alert {
	top: 3%;
	right: 2%;
	position: absolute;
}

.pagination {
	justify-content: center;
}



.inline_image {
	z-index: -1;
	position: absolute;
	left: 5%;
	bottom: 0%;
}


.remove-course {
	position: absolute;
    z-index: 1;
	right: 8%;
    top: 2%;
}


.page-banner {
	background-image: url(banner/banner1.jpg);
}




  
  label {
	cursor: pointer;
	color: #383A3F;
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
  }
  label input[type="checkbox"] + .label-text:hover:before {
	color: #fe4365;
  }
  label input[type="checkbox"] {
	display: none;
  }
  label input[type="checkbox"] + .label-text:before {
	content: "";
	color: #dddfe6;
	font-family: "fontAwesome";
	line-height: 1;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
  }
  label input[type="checkbox"]:checked + .label-text:before {
	content: "";
	color: #fe4365;
	animation: tick 150ms ease-in;
  }
  label input[type="checkbox"]:disabled + .label-text:before {
	content: "";
	color: #dddfe6;
  }
  
  @keyframes tick {
	0% {
	  transform: scale(0);
	}
	90% {
	  transform: scale(1.3);
	}
	100% {
	  transform: scale(1);
	}
  }
  

  .without_ampm::-webkit-datetime-edit-ampm-field {
	display: none;
	
  }

 
  
  
  
