// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#upload-lable {
	margin-top: 5px;
	padding: 5px 50px;
	vertical-align: middle;
	font-family: 'Rubik', sans-serif;
	color: #fff;

	&.btn-2 {
	  background-color: #99c793;
	  border-radius: 50px;
	  overflow: hidden;

	  &:hover {
		background-color: darken(#99c793, 30%);
		
	  }
	}
  }


#image_preview {
  width: 218px;
  height: 160px;
}

.course-title {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
  