<div class="top-bar">
   <div class="container">
      <div class="row d-flex justify-content-between">
         <div class="topbar-left">
            <ul>
               <li><a href="javascript:;"><i class="fa fa-question-circle"></i>Ask a Question</a></li>
               <li><a href="javascript:;"><i class="fa fa-envelope-o"></i>twostep.dev@wgmail.com</a></li>
            </ul>
         </div>
         <div class="topbar-right">
            <ul>
               <li>
                  Wellcome: 
                  <%= link_to "#{ signed_in? ? current_user.fullname : "Guest"  }", current_user, class: "fullname" %>
               </li>
               <li>
                  <%= link_to_if(signed_in?, "Log out", logout_path, method: :delete) do %>
               <li><%= link_to "Login", login_path %></li>
               <li><%= link_to "Register", register_path %></li>
               <% end %>
               </li> 
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="sticky-header navbar-expand-lg">
   <div class="menu-bar clearfix">
      <div class="container clearfix">
         <!-- Header Logo ==== -->
         <div class="menu-logo">
            <%=image_tag("logo.png")%> 
            </a>
         </div>
         <!-- Mobile Nav Button ==== -->
         <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span></span>
         <span></span>
         <span></span>
         </button>
         <!-- Author Nav ==== -->
         <div class="secondary-menu">
            <div class="secondary-inner">
               <ul>
                  <li><a href="javascript:;" class="btn-link"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="javascript:;" class="btn-link"><i class="fab fa-google"></i></a></li>
                  <li><a href="javascript:;" class="btn-link"><i class="fab fa-linkedin"></i></a></li>
                  <!-- Search Button ==== -->
               </ul>
            </div>
         </div>
         <!-- Search Box ==== -->
         <div class="nav-search-bar">
            <form action="#">
               <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
               <span><i class="ti-search"></i></span>
            </form>
            <span id="search-remove"><i class="ti-close"></i></span>
         </div>
         <!-- Navigation Menu ==== -->
         <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
            <div class="menu-logo">
               <a href="index.html">
               <%=image_tag("logo.png")%> 
               </a>
            </div>
            <ul class="nav navbar-nav">
               <li>
                  <%= link_to "Courses", root_path %>
               </li>
               <li>
                  <%= link_to_if(signed_in?, "Profile", current_user) do 
                     link_to "Profile", login_path 
                     end
                     %>
               </li>
               <% if signed_in? %>
               <% if current_user.role.eql?('admin') %>
               <li>
                  <a href="javascript:;">management<i class="fa fa-angle-right"></i></a>
                  <ul class="sub-menu">
                     <li><%= link_to 'New course', new_course_path  %></li>
                     <li class="divider"></li>
                     <li><%= link_to 'New subject', new_subject_path %></li>
                     <li><%= link_to 'Member List', users_path %></li>
                  </ul>
               </li>
               <% end %>
               <% end %>
            </ul>
            <div class="nav-social-link">
               <a href="javascript:;"><i class="fa fa-facebook"></i></a>
               <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
               <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
            </div>
         </div>
         <!-- Navigation Menu END ==== -->
      </div>
   </div>
</div>