<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
   <div class="widget courses-search-bx placeani">
      <div class="form-group">
         <div class="input-group">
            <form action="/courses">
               <input name="search" type="text" placeholder="Search Courses" required class="form-control">
            </form>
         </div>
      </div>
   </div>
   <div class="widget widget_archive">
      <h5 class="widget-title style-1">All Courses</h5>
      <ul>
         <li class="active"><a href="/">General</a></li>
         <li><a href="/courses?condition=IT - Software">IT - Software</a></li>
         <li><a href="/courses?condition=Photography">Photography</a></li>
         <li><a href="/courses?condition=Programming">Programming</a></li>
         <li><a href="/courses?condition=Technology">Technology</a></li>
      </ul>
   </div>
   <div class="widget recent-posts-entry widget-courses">
      <h5 class="widget-title style-1">NEW Courses</h5>
      <div class="widget-post-bx">
         <% @new_course.each do |course| %>
         <div class="widget-post clearfix">
            <div class="ttr-post-media"> 
               <%= image_tag course.thumb_url.url %>
            </div>
            <div class="ttr-post-info">
               <div class="ttr-post-header">
                  <h6><a class="course-title" href="/courses/<%= course.id %>"><%= course.title %></a></h6>
               </div>
               <div class="ttr-post-meta">
                  <ul>
                     <li class="price">
                        <h5>$<%= course.price %></h5>
                     </li>
                     <li class="review"><%= course.users_courses.count %> Joiner</li>
                  </ul>
               </div>
            </div>
         </div>
         <% end %>
      </div>
   </div>
</div>