<!DOCTYPE html>
<html>
   <head class="header rs-nav">
      <title>ELearningV1</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
      <%= stylesheet_link_tag @locale_style unless @locale_style.nil? %>
      <%= csrf_meta_tags %>
      <% case request.env['REQUEST_PATH'] %>
      <% when "/register" %>
      <div></div>
      <% when "/login" %>
      <div></div>
      <% else %>
      <%= render 'layouts/menu'%>
      <% end %>
   </head>
   <body>
      <%= render 'messages/flash'%>
      <%= yield %>
      <% case request.env['REQUEST_PATH'] %>
      <% when "/register" %>
      <div></div>
      <% when "/login" %>
      <div></div>
      <% else %>
      <%= render 'layouts/footer'%>
      <% end %>
   </body>
</html>